# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~

*.axf
*.bak
*.crf
*.d
*.dep
*.hex
*.iex
*.lnp
*.lst
*.map
*.o
*.plg
*.sct
*.uvgui*
*.pdf
*.htm*
*~